[submodule "grading-tools"]
	path = grading-tools
	url = https://github.com/TUDelft-IN4303/grading-tools.git
	branch = master
[submodule "spoofax-sunshine"]
	path = spoofax-sunshine
	url = https://github.com/metaborg/spoofax-sunshine.git
	branch = master
