[submodule "grading-tools"]
	path = grading-tools
	url = https://github.com/MartijnDwars/grading-tools.git
	branch = master
[submodule "spoofax-sunshine"]
	path = spoofax-sunshine
	url = https://github.com/metaborg/spoofax-sunshine.git
	branch = master
[submodule "spt"]
	path = spt
	url = https://github.com/MartijnDwars/spt.git
	branch = ignore-errors-regions
[submodule "spoofax"]
	path = spoofax
	url = https://github.com/metaborg/spoofax.git
	branch = in4303
